In [1]:
import pandas as pd
import numpy as np
from data_cleaning import clean_passengers_df, avg_passengers, clean_fuel_df, avg_fuel_use, avg_carrier_arr_delay, clean_flights_df, avg_taxi_time

In [3]:
flights_df = clean_flights_df('data/flights_sample.csv')

In [2]:
flights_df.head()

NameError: name 'flights_df' is not defined

Calculate Average Arrival Delay by Op Carrier

In [7]:
avg_carrier_arr_delay_dict = round(flights_df.groupby('op_unique_carrier')['arr_delay'].mean(), 2).to_dict()

In [8]:
flights_df['avg_carrier_arr_delay'] = flights_df['op_unique_carrier'].map(avg_carrier_arr_delay_dict)
flights_df.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,...,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,fl_day,fl_month,fl_year,avg_carrier_arr_delay
0,2019-07-17,UA,UA,613,UA,N454UA,613,14771,SFO,"San Francisco, CA",...,0.0,0.0,0.0,0.0,0.0,0.0,17,7,2019,7.13
1,2018-06-09,WN,WN,5610,WN,N712SW,5610,10821,BWI,"Baltimore, MD",...,39.0,0.0,7.0,0.0,0.0,0.0,9,6,2018,3.61
2,2019-11-06,B6,B6,737,B6,N705JB,737,10529,BDL,"Hartford, CT",...,0.0,0.0,0.0,0.0,0.0,0.0,6,11,2019,11.36
3,2019-12-24,WN,WN,6221,WN,N8503A,6221,12889,LAS,"Las Vegas, NV",...,0.0,0.0,0.0,0.0,0.0,0.0,24,12,2019,3.61
4,2018-01-14,WN,WN,2663,WN,N446WN,2663,13204,MCO,"Orlando, FL",...,0.0,0.0,0.0,0.0,0.0,0.0,14,1,2018,3.61

In [9]:
flights_df.head(50)

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,...,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,fl_day,fl_month,fl_year,avg_carrier_arr_delay
0,2019-07-17,UA,UA,613,UA,N454UA,613,14771,SFO,"San Francisco, CA",...,0.0,0.0,0.0,0.0,0.0,0.0,17,7,2019,7.13
1,2018-06-09,WN,WN,5610,WN,N712SW,5610,10821,BWI,"Baltimore, MD",...,39.0,0.0,7.0,0.0,0.0,0.0,9,6,2018,3.61
2,2019-11-06,B6,B6,737,B6,N705JB,737,10529,BDL,"Hartford, CT",...,0.0,0.0,0.0,0.0,0.0,0.0,6,11,2019,11.36
3,2019-12-24,WN,WN,6221,WN,N8503A,6221,12889,LAS,"Las Vegas, NV",...,0.0,0.0,0.0,0.0,0.0,0.0,24,12,2019,3.61
4,2018-01-14,WN,WN,2663,WN,N446WN,2663,13204,MCO,"Orlando, FL",...,0.0,0.0,0.0,0.0,0.0,0.0,14,1,2018,3.61
5,2018-05-29,DL,DL,2621,DL,N915DN,2621,14683,SAT,"San Antonio, TX",...,0.0,0.0,0.0,0.0,0.0,0.0,29,5,2018,0.39
6,2019-06-17,AA,AA_CODESHARE,5970,YV,N905J,5970,13158,MAF,"Midland/Odessa, TX",...,0.0,0.0,74.0,0.0,0.0,0.0,17,6,2019,9.56
7,2018-09-03,UA,UA_CODESHARE,3472,YX,N747YX,3472,11292,DEN,"Denver, CO",...,0.0,0.0,0.0,0.0,0.0,0.0,3,9,2018,3.80
8,2019-03-12,UA,UA_CODESHARE,4793,AX,N18101,4793,11292,DEN,"Denver, CO",...,0.0,0.0,0.0,0.0,0.0,0.0,12,3,2019,15.89
9,2018-08-08,AA,AA,1915,AA,N560UW,1915,10721,BOS,"Boston, MA",...,0.0,0.0,0.0,0.0,0.0,0.0,8,8,2018,6.25
10,2019-01-07,AA,AA_CODESHARE,3251,OO,N765SK,3251,11695,FLG,"Flagstaff, AZ",...,0.0,0.0,0.0,0.0,0.0,0.0,7,1,2019,7.24
11,2019-10-27,UA,UA_CODESHARE,5534,OO,N939SW,5534,11292,DEN,"Denver, CO",...,22.0,0.0,56.0,0.0,0.0,0.0,27,10,2019,7.24
12,2018-09-25,AA,AA_CODESHARE,5784,YV,N919FJ,5784,14108,PIA,"Peoria, IL",...,0.0,0.0,0.0,0.0,0.0,0.0,25,9,2018,9.56
13,2019-08-23,WN,WN,1670,WN,N7743B,1670,15370,TUL,"Tulsa, OK",...,0.0,0.0,0.0,0.0,0.0,0.0,23,8,2019,3.61
14,2018-07-23,DL,DL,2968,DL,N929AT,2968,11433,DTW,"Detroit, MI",...,0.0,0.0,0.0,0.0,0.0,0.0,23,7,2018,0.39
15,2018-05-03,AS,AS,1089,AS,N622VA,1089,12264,IAD,"Washington, DC",...,26.0,0.0,0.0,0.0,0.0,0.0,3,5,2018,0.41
16,2019-02-20,UA,UA_CODESHARE,4631,AX,N17138,4631,15016,STL,"St. Louis, MO",...,80.0,0.0,0.0,0.0,0.0,0.0,20,2,2019,15.89
17,2018-07-20,B6,B6,954,B6,N529JB,954,14843,SJU,"San Juan, PR",...,0.0,0.0,50.0,0.0,0.0,0.0,20,7,2018,11.36
18,2019-05-28,WN,WN,1952,WN,N211WN,1952,13232,MDW,"Chicago, IL",...,0.0,0.0,0.0,0.0,0.0,0.0,28,5,2019,3.61
19,2018-03-23,UA,UA_CODESHARE,6216,YV,N88332,6216,12266,IAH,"Houston, TX",...,0.0,0.0,0.0,0.0,0.0,0.0,23,3,2018,9.56
20,2019-01-22,AA,AA_CODESHARE,5029,OH,N575NN,5029,11066,CMH,"Columbus, OH",...,0.0,0.0,0.0,0.0,0.0,0.0,22,1,2019,7.45
21,2019-07-08,UA,UA_CODESHARE,4245,EV,N16546,4245,13930,ORD,"Chicago, IL",...,0.0,0.0,0.0,0.0,0.0,0.0,8,7,2019,11.51
22,2019-08-21,F9,F9,1094,F9,N708FR,1094,13204,MCO,"Orlando, FL",...,0.0,0.0,0.0,0.0,0.0,0.0,21,8,2019,11.24
23,2019-08-08,AA,AA_CODESHARE,3129,OO,N866AS,3129,13930,ORD,"Chicago, IL",...,34.0,0.0,0.0,0.0,0.0,0.0,8,8,2019,7.24
24,2018-05-22,AA,AA_CODESHARE,6016,CP,N202NN,6016,12892,LAX,"Los Angeles, CA",...,0.0,0.0,0.0,0.0,0.0,0.0,22,5,2018,5.53
25,2019-05-21,F9,F9,2006,F9,N329FR,2006,12889,LAS,"Las Vegas, NV",...,0.0,0.0,133.0,0.0,0.0,0.0,21,5,2019,11.24
26,2019-01-15,WN,WN,1006,WN,N7727A,1006,12889,LAS,"Las Vegas, NV",...,0.0,0.0,0.0,0.0,0.0,0.0,15,1,2019,3.61
27,2019-03-01,DL,DL_CODESHARE,3598,OO,N457SW,3598,13433,MOT,"Minot, ND",...,36.0,0.0,0.0,0.0,0.0,0.0,1,3,2019,7.24
28,2018-01-29,UA,UA_CODESHARE,4101,EV,N13992,4101,12915,LCH,"Lake Charles, LA",...,0.0,0.0,0.0,0.0,0.0,0.0,29,1,2018,11.51
29,2019-10-14,DL,DL,771,DL,N900PC,771,13204,MCO,"Orlando, FL",...,0.0,0.0,0.0,0.0,0.0,0.0,14,10,2019,0.39
30,2019-03-01,DL,DL_CODESHARE,3508,OO,N259SY,3508,10423,AUS,"Austin, TX",...,24.0,0.0,0.0,0.0,0.0,0.0,1,3,2019,7.24
31,2018-04-04,AS,AS,580,AS,N523AS,580,14057,PDX,"Portland, OR",...,0.0,0.0,0.0,0.0,0.0,0.0,4,4,2018,0.41
32,2018-12-04,DL,DL,1503,DL,N3764D,1503,13487,MSP,"Minneapolis, MN",...,0.0,0.0,0.0,0.0,0.0,0.0,4,12,2018,0.39
33,2019-04-09,DL,DL_CODESHARE,5965,YX,N872RW,5965,11278,DCA,"Washington, DC",...,0.0,0.0,0.0,0.0,0.0,0.0,9,4,2019,3.80
34,2018-06-28,AS,AS,469,AS,N565AS,469,14100,PHL,"Philadelphia, PA",...,0.0,0.0,0.0,0.0,0.0,0.0,28,6,2018,0.41
35,2018-09-08,AA,AA,1040,AA,N931AN,1040,13487,MSP,"Minneapolis, MN",...,0.0,0.0,0.0,0.0,0.0,0.0,8,9,2018,6.25
36,2019-08-17,DL,DL,2863,DL,N963DN,2863,10397,ATL,"Atlanta, GA",...,0.0,0.0,0.0,0.0,0.0,0.0,17,8,2019,0.39
37,2019-12-22,UA,UA_CODESHARE,5744,OO,N105SY,5744,12892,LAX,"Los Angeles, CA",...,13.0,0.0,64.0,0.0,0.0,0.0,22,12,2019,7.24
38,2018-02-04,UA,UA,1827,UA,N14106,1827,11618,EWR,"Newark, NJ",...,0.0,0.0,0.0,0.0,0.0,0.0,4,2,2018,7.13
39,2019-07-15,DL,DL_CODESHARE,5893,YX,N815MD,5893,11278,DCA,"Washington, DC",...,0.0,0.0,0.0,0.0,0.0,0.0,15,7,2019,3.80
40,2019-12-29,DL,DL_CODESHARE,3700,OO,N936EV,3700,10397,ATL,"Atlanta, GA",...,0.0,0.0,0.0,0.0,0.0,0.0,29,12,2019,7.24
41,2019-02-26,DL,DL,2944,DL,N329DN,2944,12953,LGA,"New York, NY",...,0.0,0.0,0.0,0.0,0.0,0.0,26,2,2019,0.39
42,2018-04-02,AA,AA,2565,AA,N969NN,2565,11057,CLT,"Charlotte, NC",...,0.0,0.0,0.0,0.0,0.0,0.0,2,4,2018,6.25
43,2019-12-30,AA,AA_CODESHARE,4188,MQ,N931AE,4188,13930,ORD,"Chicago, IL",...,0.0,0.0,0.0,0.0,0.0,0.0,30,12,2019,6.10
44,2019-09-21,DL,DL,1621,DL,N831DN,1621,11433,DTW,"Detroit, MI",...,0.0,0.0,0.0,0.0,0.0,0.0,21,9,2019,0.39
45,2018-09-09,AS,AS,809,AS,N529AS,809,14057,PDX,"Portland, OR",...,0.0,0.0,0.0,0.0,0.0,0.0,9,9,2018,0.41
46,2019-09-03,WN,WN,1268,WN,N473WN,1268,12953,LGA,"New York, NY",...,0.0,0.0,0.0,0.0,0.0,0.0,3,9,2019,3.61
47,2018-09-27,AA,AA,643,AA,N187US,643,11057,CLT,"Charlotte, NC",...,0.0,0.0,0.0,0.0,0.0,0.0,27,9,2018,6.25
48,2019-01-13,G4,G4,89,G4,331NV,89,11898,GFK,"Grand Forks, ND",...,0.0,0.0,0.0,0.0,0.0,0.0,13,1,2019,9.19
49,2018-07-18,AA,AA,2566,AA,N962NN,2566,11298,DFW,"Dallas/Fort Worth, TX",...,0.0,0.0,0.0,0.0,0.0,0.0,18,7,2018,6.25

In [4]:
passengers_df = clean_passengers_df('data/passengers.csv')
fuel_df = clean_fuel_df('data/fuel_consumption.csv')

In [5]:
flights_df= avg_carrier_arr_delay(flights_df)
flights_df = avg_passengers(flights_df, passengers_df)
flights_df = avg_fuel_use(flights_df, fuel_df)

In [6]:
flights_df.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,...,first_dep_time,total_add_gtime,longest_add_gtime,day,month,year,avg_carrier_arr_delay,monthly_avg_passengers,avg_monthly_fuel_gallons,avg_monthly_fuel_cost
0,2019-07-17,UA,UA,613,UA,N454UA,613,14771,SFO,"San Francisco, CA",...,0.0,0.0,0.0,17,7,2019,7.13,7307.0,318082406.0,562197986.0
1,2018-06-09,WN,WN,5610,WN,N712SW,5610,10821,BWI,"Baltimore, MD",...,0.0,0.0,0.0,9,6,2018,3.61,7343.0,178747802.0,342753536.0
2,2019-11-06,B6,B6,737,B6,N705JB,737,10529,BDL,"Hartford, CT",...,0.0,0.0,0.0,6,11,2019,11.36,3571.0,62232826.0,117026858.0
3,2019-12-24,WN,WN,6221,WN,N8503A,6221,12889,LAS,"Las Vegas, NV",...,0.0,0.0,0.0,24,12,2019,3.61,2482.0,170009681.0,309959717.0
4,2018-01-14,WN,WN,2663,WN,N446WN,2663,13204,MCO,"Orlando, FL",...,0.0,0.0,0.0,14,1,2018,3.61,9528.0,157934010.0,296682409.0

In [6]:
features = ['op_unique_carrier', 'origin', 'dest','crs_dep_time', 'crs_arr_time', 'crs_elapsed_time', 'distance', 'day', 'month', 'year', 'avg_carrier_arr_delay', 'monthly_avg_passengers', 'avg_monthly_fuel_gallons', 'avg_monthly_fuel_cost']
X = flights_df[features]
y= flights_df['dep_delay']

In [7]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4681523 entries, 0 to 4681522
Data columns (total 14 columns):
 #   Column                    Dtype
---  ------                    -----
 0   op_unique_carrier         object
 1   origin                    object
 2   dest                      object
 3   crs_dep_time              int64
 4   crs_arr_time              int64
 5   crs_elapsed_time          float64
 6   distance                  int64
 7   day                       int32
 8   month                     int32
 9   year                      int32
 10  avg_carrier_arr_delay     float64
 11  monthly_avg_passengers    float64
 12  avg_monthly_fuel_gallons  float64
 13  avg_monthly_fuel_cost     float64
dtypes: float64(5), int32(3), int64(3), object(3)
memory usage: 446.5+ MB

In [8]:
X.describe()

,crs_dep_time,crs_arr_time,crs_elapsed_time,distance,day,month,year,avg_carrier_arr_delay,monthly_avg_passengers,avg_monthly_fuel_gallons,avg_monthly_fuel_cost
count,4.681523e+06,4.681523e+06,4.681523e+06,4.681523e+06,4.681523e+06,4.681523e+06,4.681523e+06,4.681523e+06,4.681518e+06,4.681523e+06,4.681523e+06
mean,1.328537e+03,1.483476e+03,1.381835e+02,7.709148e+02,1.575932e+01,6.588759e+00,2.018507e+03,5.478878e+00,3.735292e+03,2.295269e+08,4.189852e+08
std,4.896421e+02,5.165287e+02,7.185193e+01,5.877036e+02,8.766611e+00,3.399726e+00,4.999464e-01,3.536509e+00,2.720973e+03,9.535635e+07,1.742303e+08
min,1.000000e+00,1.000000e+00,-9.100000e+01,3.100000e+01,1.000000e+00,1.000000e+00,2.018000e+03,-8.600000e-01,0.000000e+00,1.056503e+07,1.873932e+07
25%,9.150000e+02,1.100000e+03,8.700000e+01,3.420000e+02,8.000000e+00,4.000000e+00,2.018000e+03,3.610000e+00,1.741000e+03,1.706786e+08,3.186396e+08
50%,1.320000e+03,1.510000e+03,1.190000e+02,6.050000e+02,1.600000e+01,7.000000e+00,2.019000e+03,6.100000e+00,3.053000e+03,2.724533e+08,4.721148e+08
75%,1.735000e+03,1.916000e+03,1.680000e+02,1.005000e+03,2.300000e+01,1.000000e+01,2.019000e+03,7.240000e+00,4.997000e+03,2.957346e+08,5.358731e+08
max,2.359000e+03,2.400000e+03,1.611000e+03,5.095000e+03,3.100000e+01,1.200000e+01,2.019000e+03,2.317000e+01,3.482200e+04,3.385212e+08,7.342249e+08

In [9]:
X.describe(exclude=np.number)

       op_unique_carrier   origin     dest
count            4681523  4681523  4681523
unique                28      376      375
top                   WN      ATL      ATL
freq              797048   233594   234067

In [12]:
dummy_df = pd.get_dummies(X[['op_unique_carrier', 'origin', 'dest']])

In [13]:
dummy_df.shape

(4681523, 779)

In [14]:
X.drop(columns=['op_unique_carrier', 'origin', 'dest'], inplace=True)

In [15]:
X = pd.concat([X, dummy_df], axis=1)
X.shape

(4681523, 790)

## Random Forest Regressor

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.33, random_state=58)

In [25]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

rfr = RandomForestRegressor()
# params = {'n_estimators': [50, 100], 'max_depth': [3, 5, 7]}

# grid = GridSearchCV(estimator=rfr, param_grid=params)
model = rfr.fit(X_train, y_train)

MemoryError: Unable to allocate 4.38 GiB for an array with shape (375, 3136620) and data type float32

In [24]:
grid.fit(X_train, y_train)

ValueError:
All the 30 fits failed.
It is very likely that your model is misconfigured.
You can try to debug the error by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\HP USER\anaconda3\envs\lhl_data\lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\HP USER\anaconda3\envs\lhl_data\lib\site-packages\sklearn\ensemble\_forest.py", line 345, in fit
    X, y = self._validate_data(
  File "c:\Users\HP USER\anaconda3\envs\lhl_data\lib\site-packages\sklearn\base.py", line 584, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "c:\Users\HP USER\anaconda3\envs\lhl_data\lib\site-packages\sklearn\utils\validation.py", line 1106, in check_X_y
    X = check_array(
  File "c:\Users\HP USER\anaconda3\envs\lhl_data\lib\site-packages\sklearn\utils\validation.py", line 810, in check_array
    array = array.astype(new_dtype)
  File "c:\Users\HP USER\anaconda3\envs\lhl_data\lib\site-packages\pandas\core\generic.py", line 6324, in astype
    new_data = self._mgr.astype(dtype=dtype, copy=copy, errors=errors)
  File "c:\Users\HP USER\anaconda3\envs\lhl_data\lib\site-packages\pandas\core\internals\managers.py", line 451, in astype
    return self.apply(
  File "c:\Users\HP USER\anaconda3\envs\lhl_data\lib\site-packages\pandas\core\internals\managers.py", line 352, in apply
    applied = getattr(b, f)(**kwargs)
  File "c:\Users\HP USER\anaconda3\envs\lhl_data\lib\site-packages\pandas\core\internals\blocks.py", line 511, in astype
    new_values = astype_array_safe(values, dtype, copy=copy, errors=errors)
  File "c:\Users\HP USER\anaconda3\envs\lhl_data\lib\site-packages\pandas\core\dtypes\astype.py", line 242, in astype_array_safe
    new_values = astype_array(values, dtype, copy=copy)
  File "c:\Users\HP USER\anaconda3\envs\lhl_data\lib\site-packages\pandas\core\dtypes\astype.py", line 187, in astype_array
    values = _astype_nansafe(values, dtype, copy=copy)
  File "c:\Users\HP USER\anaconda3\envs\lhl_data\lib\site-packages\pandas\core\dtypes\astype.py", line 138, in _astype_nansafe
    return arr.astype(dtype, copy=True)
numpy.core._exceptions._ArrayMemoryError: Unable to allocate 3.51 GiB for an array with shape (375, 2509296) and data type float32

In [22]:
grid.best_params_()

AttributeError: 'GridSearchCV' object has no attribute 'best_params_'