In [8]:
import pandas as pd
import numpy as np
from data_cleaning import clean_flights_df, clean_passengers_df, avg_passengers, clean_fuel_df, avg_carrier_arr_delay, avg_fuel_use, avg_taxi_time

In [3]:
flights_df = clean_flights_df('data/flights_sample.csv')
flights_df.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,...,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,year,month,day_of_month,day_of_week,dep_hour
0,2019-07-17,UA,UA,613,UA,N454UA,613,14771,SFO,"San Francisco, CA",...,0.0,0.0,0.0,0.0,0.0,2019,7,17,2,6
1,2018-06-09,WN,WN,5610,WN,N712SW,5610,10821,BWI,"Baltimore, MD",...,0.0,7.0,0.0,0.0,0.0,2018,6,9,5,13
2,2019-11-06,B6,B6,737,B6,N705JB,737,10529,BDL,"Hartford, CT",...,0.0,0.0,0.0,0.0,0.0,2019,11,6,2,6
3,2019-12-24,WN,WN,6221,WN,N8503A,6221,12889,LAS,"Las Vegas, NV",...,0.0,0.0,0.0,0.0,0.0,2019,12,24,1,9
4,2018-01-14,WN,WN,2663,WN,N446WN,2663,13204,MCO,"Orlando, FL",...,0.0,0.0,0.0,0.0,0.0,2018,1,14,6,20

In [4]:
flights_df.shape

(4681523, 42)

In [4]:
flights_df = flights_df.sample(frac=.5, random_state=58)
flights_df.shape

(2340762, 39)

In [9]:
passengers_df = clean_passengers_df('data/passengers.csv')
fuel_df = clean_fuel_df('data/fuel_consumption.csv')

### Feature Selection/Engineering

In [10]:
flights_df = avg_taxi_time(flights_df)
flights_df = avg_carrier_arr_delay(flights_df)
flights_df = avg_passengers(flights_df, passengers_df)
flights_df = avg_fuel_use(flights_df, fuel_df)
flights_df.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,...,year,month,day_of_month,day_of_week,dep_hour,taxi_mean_time,avg_carrier_arr_delay,monthly_avg_passengers,avg_monthly_fuel_gallons,avg_monthly_fuel_cost
0,2019-07-17,UA,UA,613,UA,N454UA,613,14771,SFO,"San Francisco, CA",...,2019,7,17,2,6,16.752303,7.13,7307.0,318082406.0,562197986.0
1,2018-06-09,WN,WN,5610,WN,N712SW,5610,10821,BWI,"Baltimore, MD",...,2018,6,9,5,13,16.835148,3.61,7343.0,178747802.0,342753536.0
2,2019-11-06,B6,B6,737,B6,N705JB,737,10529,BDL,"Hartford, CT",...,2019,11,6,2,6,16.033247,11.36,3571.0,62232826.0,117026858.0
3,2019-12-24,WN,WN,6221,WN,N8503A,6221,12889,LAS,"Las Vegas, NV",...,2019,12,24,1,9,18.477049,3.61,2482.0,170009681.0,309959717.0
4,2018-01-14,WN,WN,2663,WN,N446WN,2663,13204,MCO,"Orlando, FL",...,2018,1,14,6,20,18.140955,3.61,9528.0,157934010.0,296682409.0

In [11]:
del passengers_df
del fuel_df

In [12]:
y = flights_df['dep_delay']
flights_df.drop('dep_delay', axis=1, inplace=True)

In [17]:
features = flights_df.columns.tolist()
col_to_remove = ['fl_date','air_time','dep_hour', 'tail_num','mkt_unique_carrier', 'branded_code_share', 'mkt_carrier_fl_num', 'op_carrier_fl_num', 'origin_airport_id', 'origin_city_name', 'dest_airport_id', 'dest_city_name', 'dep_time', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in', 'arr_time', 'arr_delay', 'cancelled', 'actual_elapsed_time', 'flights', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay', 'first_dep_time', 'total_add_gtime', 'longest_add_gtime',]

In [18]:
for col in col_to_remove:
    features.remove(col)
features

['fl_date',
 'op_unique_carrier',
 'tail_num',
 'origin',
 'dest',
 'crs_dep_time',
 'crs_arr_time',
 'crs_elapsed_time',
 'air_time',
 'distance',
 'year',
 'month',
 'day_of_month',
 'day_of_week',
 'dep_hour',
 'taxi_mean_time',
 'avg_carrier_arr_delay',
 'monthly_avg_passengers',
 'avg_monthly_fuel_gallons',
 'avg_monthly_fuel_cost']

In [37]:
flights_df = flights_df[features]
flights_df.head()

KeyError: "['fl_date', 'tail_num'] not in index"

In [21]:
flights_df.shape

(4681523, 18)

In [40]:
flights_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4681523 entries, 0 to 4681522
Data columns (total 16 columns):
 #   Column                    Dtype
---  ------                    -----
 0   op_unique_carrier         category
 1   origin                    category
 2   dest                      category
 3   crs_dep_time              int64
 4   crs_arr_time              int64
 5   crs_elapsed_time          float64
 6   distance                  int64
 7   year                      int32
 8   month                     int32
 9   day_of_month              int32
 10  day_of_week               int32
 11  taxi_mean_time            float64
 12  avg_carrier_arr_delay     float64
 13  monthly_avg_passengers    float64
 14  avg_monthly_fuel_gallons  float64
 15  avg_monthly_fuel_cost     float64
dtypes: category(3), float64(6), int32(4), int64(3)
memory usage: 415.2 MB

In [23]:
cat_cols = flights_df.dtypes[flights_df.dtypes == 'object'].index.tolist()
cat_cols

['op_unique_carrier', 'origin', 'dest']

In [24]:
for col in cat_cols:
    print(flights_df[col].value_counts())

op_unique_carrier
WN    797048
DL    579670
AA    547005
OO    473061
UA    370282
YX    187717
MQ    180145
B6    177457
OH    164381
AS    151665
9E    145075
YV    129181
NK    112397
EV     97525
F9     75084
QX     69089
PT     62825
ZW     60112
G4     59600
CP     56974
HA     50325
G7     49504
AX     45814
C5     30195
VX      5150
EM      2901
KS       825
9K       516
Name: count, dtype: int64
origin
ATL    233594
ORD    231098
DFW    171149
DEN    162549
LAX    148434
        ...
BFM        46
ROP        46
AKN        36
IFP        18
YNG         1
Name: count, Length: 376, dtype: int64
dest
ATL    234067
ORD    228933
DFW    170280
DEN    162770
LAX    148689
        ...
ROP        51
HYA        51
BFM        47
AKN        43
IFP        12
Name: count, Length: 375, dtype: int64

In [25]:
y.shape

(4681523,)

## Attempt at XGBoost

In [27]:
cats = flights_df.select_dtypes(exclude=np.number).columns.tolist()

for col in cats:
    flights_df[col] = flights_df[col].astype('category')


flights_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4681523 entries, 0 to 4681522
Data columns (total 18 columns):
 #   Column                    Dtype
---  ------                    -----
 0   op_unique_carrier         category
 1   origin                    category
 2   dest                      category
 3   crs_dep_time              int64
 4   crs_arr_time              int64
 5   crs_elapsed_time          float64
 6   air_time                  float64
 7   distance                  int64
 8   year                      int32
 9   month                     int32
 10  day_of_month              int32
 11  day_of_week               int32
 12  dep_hour                  int64
 13  taxi_mean_time            float64
 14  avg_carrier_arr_delay     float64
 15  monthly_avg_passengers    float64
 16  avg_monthly_fuel_gallons  float64
 17  avg_monthly_fuel_cost     float64
dtypes: category(3), float64(7), int32(4), int64(4)
memory usage: 486.7 MB

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(flights_df, y, test_size=.3, random_state=58)
print(X_train.shape, X_test.shape)

(3277066, 16) (1404457, 16)

In [42]:
import xgboost as xgb

dtrain_reg = xgb.DMatrix(X_train, y_train, enable_categorical=True)
dtest_reg = xgb.DMatrix(X_test, y_test, enable_categorical=True)

In [43]:
params = {'objective':'reg:squarederror', 'tree_method':'hist'}
n=1000
evals=[(dtrain_reg, 'train'), (dtest_reg, 'validation')]

model = xgb.train(
    params=params,
    dtrain=dtrain_reg,
    num_boost_round=n,
    evals=evals,
    verbose_eval=25,
    early_stopping_rounds=50
)

[0]	train-rmse:43.89251	validation-rmse:43.85487
[25]	train-rmse:19.28694	validation-rmse:20.74748
[50]	train-rmse:16.17433	validation-rmse:18.34799
[75]	train-rmse:15.35684	validation-rmse:17.95480
[100]	train-rmse:14.71314	validation-rmse:17.66720
[125]	train-rmse:14.38764	validation-rmse:17.61021
[150]	train-rmse:14.03467	validation-rmse:17.48176
[175]	train-rmse:13.67778	validation-rmse:17.38611
[200]	train-rmse:13.44554	validation-rmse:17.34211
[225]	train-rmse:13.26121	validation-rmse:17.28696
[250]	train-rmse:13.08451	validation-rmse:17.25720
[275]	train-rmse:12.94758	validation-rmse:17.24153
[300]	train-rmse:12.83122	validation-rmse:17.23887
[325]	train-rmse:12.74366	validation-rmse:17.22619
[350]	train-rmse:12.66164	validation-rmse:17.22113
[375]	train-rmse:12.57186	validation-rmse:17.22119
[400]	train-rmse:12.50052	validation-rmse:17.21923
[425]	train-rmse:12.37959	validation-rmse:17.22290
[437]	train-rmse:12.34874	validation-rmse:17.22327

In [44]:
y_pred = model.predict(dtest_reg)

In [45]:
from sklearn.metrics import r2_score, mean_squared_error

print(mean_squared_error(y_test, y_pred, squared=False))
print(r2_score(y_test, y_pred))

17.223273636912335
0.8683704062536945

In [46]:
flights_df.columns

Index(['op_unique_carrier', 'origin', 'dest', 'crs_dep_time', 'crs_arr_time',
       'crs_elapsed_time', 'distance', 'year', 'month', 'day_of_month',
       'day_of_week', 'taxi_mean_time', 'avg_carrier_arr_delay',
       'monthly_avg_passengers', 'avg_monthly_fuel_gallons',
       'avg_monthly_fuel_cost'],
      dtype='object')

In [39]:
flights_df.drop(columns=[], inplace=True)